# Machine Learning Mockup

## Import package libraries

In [1]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import cross_val_score, KFold, train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, accuracy_score

## Connect to Postgresql Database

In [2]:
from sqlalchemy import create_engine

In [3]:
from getpass import getpass
POSTGRES_PASSWORD = getpass("Enter server password")

Enter server password········

In [4]:
POSTGRES_ADDRESS = 'neuralburst.io'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres'
POSTGRES_DBNAME = 'music_db'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

## Load Dataset

In [5]:
#Pull table from Postgresql server might take a minute to finish
df = pd.read_sql_query('''SELECT * FROM spotify_features LIMIT 500''', cnx)
display(df)

                         id  danceability  energy  loudness  valence    tempo
0    7lmeHLHBe4nmXzuXc0HDjk         0.470   0.978    -5.399   0.5030  117.906
1    1wsRitfRRtWyEapl0q22o8         0.599   0.957    -5.764   0.4890  103.680
2    1hR0fIFK2qRG3f3RF70pb7         0.315   0.970    -5.424   0.3700  149.749
3    2lbASgTSoDO7MTuLAXlTW0         0.440   0.967    -5.830   0.5740   96.752
4    1MQTmpYOZ6fcMQc56Hdo7T         0.426   0.929    -6.729   0.5390  127.059
..                      ...           ...     ...       ...      ...      ...
495  2amrUVFif0sLl1DVguby6K         0.518   0.194   -16.398   0.5680  153.890
496  1gZcLFr0BlmKFo45WvNhxr         0.449   0.560    -8.058   0.3900  133.834
497  5uXWhOO91v9W57YPHb2YD4         0.338   0.253   -19.190   0.0351  139.932
498  30UUM8bF30dyBn7p7RfetM         0.304   0.487   -18.994   0.0481  180.013
499  2JdjrXrQ7KCbW5YOJQuhgq         0.514   0.334   -22.245   0.0519  100.005

[500 rows x 6 columns]

In [6]:
df.dtypes

id               object
danceability    float64
energy          float64
loudness        float64
valence         float64
tempo           float64
dtype: object

## Preprocessing clustering

In [10]:
#Define the features and the target
from sklearn.cluster import KMeans
X = df.iloc[:, [1, 2, 3, 4, 5]].values

In [12]:
wcss = [] 
for i in range(1, 5): 
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    kmeans.fit(X) 
    wcss.append(kmeans.inertia_)

C:\Users\devin\anaconda3\envs\mlenv\lib\site-packages\sklearn\cluster\_kmeans.py:1039: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  "KMeans is known to have a memory leak on Windows "

In [ ]:
ks = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sns.lineplot(x = ks, y = wcss);

# Fit model to data

In [ ]:
#Plot cluster
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(15,5))
sns.scatterplot(ax=axes[0], data=df, x='bill_length_mm', y='flipper_length_mm').set_title('Without clustering')

In [ ]:
#Plot cluster with elbow method
sns.scatterplot(ax=axes[1], data=df, x='bill_length_mm', y='flipper_length_mm', hue=clustering.labels_).set_title('Using the elbow method');

# Test the models predictions and accuracy